       <!--========================================================FOOTER===================================================-->

    <footer>
        <p>copyright <a href="login.html"><i class="fas fa-copyright"></i></a> | reynaud-sebastien.fr</p>
        <p>Merci pour votre visite, si vous souhaitez plus de rensignements n'hesitez pas à m'envoyer un Email, je me ferais un plaisir d'y répondre.</p>
    </footer>