<!--========================================================EN-TETE===================================================-->
<%- include('layouts/main'); -%>
<%- include ('partials/navbar'); -%>
    <section class="cv" id="cv">
        <div class="container en-tete">
            <div class="row">
                <div class="col-md-10">
                    <h1>Sébastien REYNAUD</h1>
                </div>
                <div class="col-md-2">
                    <a href="../resources/images/cv/photo_profil.jpg"><img
                            src="../resources/images/cv/mini_photo_profil.jpg" alt="photo_profil" /></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <h2>Développeur web junior</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md cv-p">
                    <p>Dynamique Consciencieux, à l'écoute</p>
                </div>
            </div>
        </div>

        <!--========================================================MES COMPETENCES===================================================-->
        <div class="container competences">
            <div class="row">
                <div class="col-md-4 mes-competences">
                    <h3>Mes Compétences</h3>
                    <img src="resources/images/cv/493-4938095_vector-javascript-html5-css3-html-css-bootstrap-icon.png" alt="javascript, HTML5, CSS3, Bootstrap">
                    <img src="resources/images/cv/1200px-Node.js_logo.svg.png" alt="NodeJs">
                    <img src="resources/images/cv/wordpress-logo-stacked-rgb.png" alt="Wordpress">
                    <img src="resources/images/cv/linux-logo-vector-png-clipart_1873214.png" alt="Linux">
                    <img src="resources/images/cv/468328_preview.png" alt="MongoDb">
                    <img src="resources/images/cv/kisspng-logo-nginx-brand-font-product-nginx-logo-software-logo-5b973027bbbf02.580373851536634919769.jpg" alt="Nginx">
                    <img src="resources/images/cv/logo-phpmyadmin-mysql-font-mysql-logo-png-clip-art.png" alt="PHPMyAdmin">
                    <img src="resources/images/cv/kisspng-computer-icons-pro-git-portable-network-graphics-i-git-book-pro-git-app-app-5b80546c0b1311.5417567715351368760454.jpg" alt="Git">
                    
                </div>
                <!--========================================================MES EXPERIENCES PROFESSIONNELLES===================================================-->
                <div class="col-md-4 mes-experiences">
                    <h3>Mes Expériences Professionnelles</h3>
                    <ul>
                        <li><strong>11/2017-10/2018:</strong> Régulateur médical à l'UDASU(coordination des secours,
                            envoi des moyens appropriés, secretariat)</li>
                        <li><strong>01/2014-10/2018:</strong> Ambulancier d'urgence chez AGV(au service des patients,
                            accompagner, ecouter, observer et evaluation de l'urgence)</li>
                        <li><strong>10/1996-03/2010:</strong> Plâtrier chez SARL Blanchard et d'autres(briquetage et
                            enduit de cloisons intèrieures)</li>
                    </ul>
                </div>
                <!--========================================================MES FORMATIONS===================================================-->
                <div class="col-md-4 mes-formations">
                    <h3>Mes Formations</h3>
                    <ul>
                        <li><strong>03/2019-08/2019</strong> Formation Javascript, NodeJS Chez ARINFO</li>
                        <li><strong>04/2018- encore maintenant</strong> Formation HTML5, CSS3... sur OpenClassroom</li>
                        <li><strong>03/2018-06/0218:</strong> Formation TOSA au COFAE(Word, Excel, PowerPoint, Outlook)
                        </li>
                        <li><strong>09/2012-01/2013:</strong> Diplome d'Etat d'Ambulancier</li>
                        <li><strong>10/1996-06/1998:</strong> CAP Plâtrier</li>
                    </ul>
                </div>
            </div>
        </div>
        <!--========================================================MES LIENS===================================================-->
        <div class="container liens">
            <div class="row">
                <div class="col-md-12">
                    <h3>Mes réseaux sociaux</h3>
                </div>
                <div class="row img">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <a href="http://www.facebook.com/sebastien.reynaud.9279"><img
                                src="https://cdn3.iconfinder.com/data/icons/facebook-ui-flat/48/Facebook_UI-03-512.png"
                                alt="facebook"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://twitter.com/reyseb85"><img
                                src="https://cdn.pixabay.com/photo/2016/11/01/12/09/twitter-logo-1788039_960_720.jpg"
                                alt="twitter"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://www.linkedin.com/in/sebastien-reynaud-47838b160"><img
                                src="https://salon-ctco.com/wp-content/uploads/2018/09/Logo-LinkedIn.png"
                                alt="Logo-LinkedIn"></a>
                    </div>
                    <div class="col-md-2">
                        <a href="https://github.com/sebastien85540"><img
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Octicons-mark-github.svg/1024px-Octicons-mark-github.svg.png"
                                alt="github"></a>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        </div>

    </section>
    <%- include ('partials/footerAdmin') -%>