<section class="login">
  <div class="container">
    </ol>
    <form action="/user/loginAuth" method="POST">
      <div class="row form-group">
        <div class="col-md">
          <label for="exampleInputEmail1">Email</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
            placeholder="Enter email" name="email" value={{data.email}}>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md">
          <label for="exampleInputPassword1">Mot de passe</label>
          <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md">
          <button class="btn btn-primary">envoyer</button>
        </div>
      </div>
    </form>
    <form action="/" method="get">
      <button class="btn btn-danger">Annuler</button>
    </form>
    <a href="/passe-oublie">Mot de passe oublié</a>
    <a href="/user/create">Creation</a>
  </div>
</section>