<%- include('../layouts/main') -%>
<%- include ('../partials/navbarAdmin'); -%>
  
  <section class="article-add">
    <div class="container">
      <form action="/article/post" method="post" enctype="multipart/form-data">
        <div class="row">
          <div class="col-md">
              <label for="title">Titre</label>
              <input type="text" name="title" id="title" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <label for="content">Contenu</label>
            <textarea name="content" id="content" rows="5" class="form-control"></textarea>
          </div>
        </div>
            
        <div class="row">
          <div class="col-md">
            <label for="link">lien</label>
            <input type="url" name="link" id="link" class="form-control">
          </div>
        </div>
        <div class="row">
          <div class="col-md">
              <div class="custom-file">
                  <input type="file" class="custom-file-input form-control" id="custom-file" name="image">
                  <label class="custom-file-label" for="customFile"></label>
                </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <button class="btn btn-primary">Envoyer</button>
          </div>
        </div>
        
      </form>
      <form action="/" method="get">
        <div class="control">
          <button class="btn btn-danger">Annuler</button>
        </div>
      </form>
    </div>
  </section>
  <%- include ('../partials/footerAdmin') -%>