/*****************************************************************************************************************************************
**************************************                             REYNAUD-SEBASTIEN.FR                          *************************
*****************************************************************************************************************************************/
/*
    Nom du site : reynaud-sebastien.fr
    Version     : 1.0.0
    Auteur      : sebastien reynaud
*/
/********************************************************
*********                FONTS                   ********
********************************************************/
/*    
    h1          : 'droid_sansregular', 'Arial', sans-serif;
    h2          :
    h3          :
    h4          :
    h5          :
    h6          : 
    p           : 'BallparkWeiner', serif, 'Arial';
    li          : 'Dayrom',Verdana, Geneva, Tahoma, sans-serif 
    */
/********************************************************
*********                COLORS                  ********
********************************************************/
/*    
    h1          : rgb(0, 0, 97);
    h2          : rgb(0, 0, 97);
    h3          :
    h4          :
    h5          :
    h6          : 
    p           : rgb(30, 0, 70);
    li          : rgba(124, 124, 250, 0.801);
    i           : #ffffff;
    */
/****************************************************
*****************           BODY                 ****
****************************************************/
/* Définition des polices personnalisées */

@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'),
        url('polices/ballpark.woff') format('woff'),
        url('polices/ballpark.ttf') format('truetype'),
        url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'),
        url('polices/dayrom.woff') format('woff'),
        url('polices/dayrom.ttf') format('truetype'),
        url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'droid_sansregular';
    src: url('DroidSans-webfont.eot');
    src: url('DroidSans-webfont.eot?#iefix') format('embedded-opentype'),
        url('DroidSans-webfont.woff') format('woff'),
        url('DroidSans-webfont.ttf') format('truetype'),
        url('DroidSans-webfont.svg#droid_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/********************************************************
*********                FONTS                   ********
********************************************************/
h1 {
    color: rgb(0, 0, 97);
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 97);
    text-align: center;
}

h3 {
    font-family: 'Times New Roman', Times, serif;
    padding-top: 2%;
    text-align: center;
}

h4 {
    color: rgb(0, 0, 97);
    font-family: 'droid_sansregular', 'Arial', sans-serif;
    text-align: center;
}

p {
    font-family: 'BallparkWeiner', serif, 'Arial';
    color: rgb(30, 0, 70);
    text-align: center;
    margin: 0;
}

li {
    font-family: 'Dayrom', Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(124, 124, 250, 0.801);
}

i {
    color: #ffffff;
}

/********************************************************
*********                BODY                    ********
********************************************************/
body {
    background-image: url(https://cdn.pixabay.com/photo/2017/06/04/20/23/binary-2372130_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100%;
}

/********************************************************
*********                NAVBAR                  ********
********************************************************/
.icon{
    width: 15%;
}

/********************************************************
*********                FOOTER                  ********
********************************************************/

footer {
    background-color: black;
    height: auto;
    text-align: center;
    padding: 1px;
}

footer p {
    color: #ffffff;

}

/********************************************************
*********                ACCUEIL                 ********
********************************************************/
#accueil {
    padding-bottom: 3.6%;
    margin-top: 1%;
}

.carousel-item img {
    margin-top: 10%;
}

/********************************************************
*********                CONTACT                 ********
********************************************************/
#contact {
    min-height: 100%;
}

#contact input {
    width: 60%;
    display: block;
    margin: 0;
    padding: 0;
}

#message {
    width: 100%;
}

.btn-primary {
    margin-top: 1.5%;
}

.btn-danger {
    margin-top: 1.5%;
    margin-bottom: 3.4%;
}

/********************************************************
*********              MON CV                    ********
********************************************************/
#cv {
    background-image: url(../images/cv/fond_jaune.png);
    padding-top: 1%;
}

#cv h1 {
    padding-left: 20%;
    text-align: center;
}

#cv img {
    width: 40%;
    box-shadow: 5px 5px 5px black;
}

.col-md-1 {
    text-align: center;
}

.en-tete {
    background: url('../images/cv/separateur.png') repeat-x bottom;
    display: block;
    justify-content: space-between;
    align-items: flex-end;
    text-align: center;

}

.mes-competences h3 {
    margin-bottom: 12%;
}

.mes-formations h3 {
    margin-bottom: 12%;
}

.liens {
    display: block;
    background: url('../images/cv/ico_top.png') no-repeat top center, url('../images/cv/separateur.png') repeat-x top, url('../images/cv/ombre.png') repeat-x top;
    padding-top: 1%;
}

.liens h3 {
    padding-top: 2%;
    padding-bottom: 2%;
}

.img {
    padding-bottom: 3%;
    display: flex;
}

/********************************************************
*********              ARTICLES                  ********
********************************************************/
#articles h2 {
    margin-top: 2%;
    margin-bottom: 5%;
}

table {
    text-align: center;
    background-color: rgb(21, 204, 250);
}

table img {
    width: 20%;
}

/********************************************************
*********          ARTICLE ADD                   ********
********************************************************/
.article-add form {
    margin-top: 5%;
}

/********************************************************
*********          ARTICLE EDIT                  ********
********************************************************/
.article-edit{
    padding-top: 2%;
}
.article-edit img{
    width: 80%;
}
.article-edit textarea{
    width: 100%;
}
.article-edit .btn-danger{
    margin-left: 0;
}
/********************************************************
*********           ERROR 404                    ********
********************************************************/

.error h1{
    margin-top: 5%;
    color: rgb(226, 98, 198);
}
.error p{
    color: rgb(158, 0, 158);
    font-size: 150%;
    margin-bottom: 10%;
}
.error img{
    width: 80%;
    margin-left: 10%;
    margin-bottom: 39.4%;
}

/********************************************************
*********          ARTICLE PAGE                  ********
********************************************************/

.article-page{
    background-image: url(../images/cv/greyzz.png);
}
/********************************************************
*********              LOGIN                     ********
********************************************************/
.login{
    padding-top: 18%;
    padding-bottom: 25%;
}
.login a{
    color: #ff0000;
}
/********************************************************
*********              REGISTER                  ********
********************************************************/
.register{
    padding-top: 5%;
    padding-bottom: 10%;
}
.btn-danger{
    margin-left: 1.6%;
}
/********************************************************
*********              PROFIL                  ********
********************************************************/
.profil{
    padding-top: 2%;
    padding-bottom: 5%;
}
/********************************************************
*********            MEDIA QUERIES               ********
********************************************************/