        <%- include('../layouts/main') -%>
        <%- include ('../partials/navbar'); -%>

<section class="editPass">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Réinitialisation de votre mot de passe</h3>
            </div>
        </div>
<form action="/user/password/edit/post" method="POST">
        <div class="row">
            <div class="col">
  
  <div class="form-group">
    <label for="exampleInputPassword1">Mot de passe</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass">
  </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
  
  <div class="form-group">
    <label for="exampleInputPassword1">Vérification</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="pass2">
  </div>
  <button type="submit" class="btn btn-primary">reinitialisation</button>
            </div>
        </div>
</form>
    </div>
</section>
<%- include ('../partials/footer') -%>